:root {
  --no-read-color: #249adb;
}

.post {
  height: 80px;
  width: 400px;
  border: 1px solid lightgrey;
  border-radius: 1px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.avatarContainer {
  max-width: 30%;
  margin-left: 10px;
  margin-right: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postDetailsContainer {
  width: inherit;
}

.postDetailsHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3px;
}

.postDetailsBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.postAvatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.categoryPostIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #91dc4b;
  bottom: 38px;
  left: 28px;
}

.noReadTextDetails {
  color: var(--no-read-color);
  font-size: 12px;
}

.noReadMark {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin-top: 14px;
  background-color: var(--no-read-color);
}

.overlineKeyword {
  font-weight: 600;
  background-color: #FFF8A9;
  color: #000
}

/* Text Style */

.textDetails {
  color: lightgrey;
  font-size: 12px;
}

.titleText {
  color: black;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 3px;
}

.descriptionText {
  color: gray;
  font-size: 13px;
  margin-bottom: 3px;
  text-align: left;
}
